*{
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box; 
}

body{
  background-color: rgba(27, 26, 26, 0.5);
}

nav{
  /* position: fixed; */
  /* top: 0;
  left: 50%; */
  height: 80px;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  background-color: grey; 
}

img{
  height: 200px;
  width: 200px;
}
